<header>
  <a name="top"></a>
  <!-- Hamburger Menu -->
  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a href="/">
          <li>Home</li>
        </a>
        <a href="/searches">
          <li>Search</li>
        </a>
        <a href="/about">
          <li>About</li>
        </a>
      </ul>
    </div>
  </nav>

  <div>
    <a href="/">
      <h1 id="pocket">POCKET</h1>
      <h1 id="gallery">gallery</h1>
    </a>
  </div>

  <!-- Desktop Menu -->
  <nav id="nav-desktop">
    <ul>
      <a href="/">
        <li>Home</li>
      </a>
      <a href="/searches">
        <li>Search</li>
      </a>
      <a href="/about">
        <li>About</li>
      </a>
    </ul>
  </nav>



</header>