<header>
  <a name="top"></a>
  <div>
    <a href="/">
      <h1>Pocket Gallery</h1>
    </a>
  </div>
  <nav>
    <div class="icon-menu"></div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/searches">Search</a></li>
    </ul>
  </nav>
</header>