<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search</title>
</head>
<body>
  <main>
    <h2>Search by Artist, Title, or Color</h2>
    <form action="./searches.ejs" method="POST">
      Search: <input type="text" default="Enter you search" name="search"><br>
      Artist: <input type="radio" name="search" value="artist"> <br>
      Title of Work: <input type="radio" name="search" value="title"> <br>
      Main Color: <input type="radio" name="search" value="color"> <br>
      <button type="submit">Search for a Work</button>
    </form>
  </main>
</body>
</html>