body {
  background-image: url(images/Depositphotos_23177554_s-2019.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-image-width: 100%;
}

#wrapper {
  margin-top: 15%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% auto 25%;
}

@media screen and (min-width: 500px) {
  #wrapper {
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% auto 25%;
  }
}

@media screen and (min-width: 800px) {
  #wrapper {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% auto 25%;
  }
}

h1 {
  border: 5px solid white;
  background-color: white;
  color: #847577;
  text-align: center;
  padding: 1%;
  margin: 5% 1%;
  box-shadow: 10px 5px 5px #cfd2cd;
  letter-spacing: 1em;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a > img {
  max-width: 35%;
  min-width: 35%;
}

img {
  max-width: 65%;
  margin: 14%;
  height: auto;
  box-shadow: 10px 5px 5px grey;
  border-radius: 2%;
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: large;
  letter-spacing: 0.1em;
}

#travis > * {
  text-align: center;
}

#holly > * {
  text-align: center;
}

#david > * {
  text-align: center;
}

#lindsay > * {
  text-align: center;
}
