<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layouts/head') %>
  <title>About</title>
</head>

<body>
  <%- include('../layouts/header') %>
  <main>
    <h4>Renaissance Devs</h4>
  <div id="backgroundimage"></div>
    <ul class="ul-about">
      <li class="li-about">
        <section class="work-section">
          <img class="frame" src="assets/david.jpg" alt="David Vloedman" />
          <p>David Vloedman</br>"Michaelango"</p>
          <a href="https://github.com/david-vloedman"><img class="social-media" alt="GitHub"
              src="assets/github.png"></a>
          <a href="https://www.linkedin.com/in/davidvloedman/"><img class="social-media" alt="LinkedIn"
              src="assets/linkedin.png"></a>
        </section>
      </li>
      <li class="li-about">
        <section class="work-section">
          <img class="frame" src="/assets/holly.jpg" alt="Holly Davis" />
          <p>Holly Davis</br>"Donatello"</p>
          <a href="https://github.com/hollydavis541"><img class="social-media" alt="GitHub" src="assets/github.png"></a>
          <a href="https://www.linkedin.com/in/hollydavis541/"><img class="social-media" alt="LinkedIn"
              src="assets/linkedin.png"></a>
        </section>
      </li>

      <li class="li-about">
        <section class="work-section">
          <img class="frame" src="/assets/lindsay.jpg" alt="Lindsay Peltier" />
          <p>Lindsay Peltier</br>"Raphael"</p>
          <a href="https://github.com/lindsaypeltier"><img class="social-media" alt="GitHub"
              src="assets/github.png"></a>
          <a href="https://www.linkedin.com/in/lindsaypeltier/"><img class="social-media" alt="LinkedIn"
              src="assets/linkedin.png"></a>
        </section>
      </li>

      <li class="li-about">
        <section class="work-section">
          <img class="frame" src="/assets/travis.jpg" alt="Travis Skyles" />
          <p>Travis Skyles<br />"Leonardo"</p>
          <a href="https://github.com/tskyles"><img class="social-media" alt="GitHub" src="assets/github.png"></a>
          <a href="https://www.linkedin.com/in/travisskyles/"><img class="social-media" alt="LinkedIn"
              src="assets/linkedin.png"></a>
        </section>
      </li>

    </ul>
    </div>
    <%- include('../layouts/footer') %>
  </main>
</body>

</html>