header div {
  max-width: 80%;
  padding: 2vw;
}

nav {
  float: right;
  width: 100%;
}

nav ul {
  display: none;
  width: 100%;
  box-sizing: border-box;
}

nav li {
  margin: 1.5vw 0;
  padding: 2vw 0;
  cursor: pointer;
}

nav li a {
  font-size: 3.5vw;
}

nav:hover ul {
  background-color: #000;
  opacity: .5;
  display: block;
  padding: 1.5vw;
  position: absolute;
  right: 0;
}

nav li:hover {
  cursor: pointer;
}

.icon-menu {
  color: #d1ab90;
  font-size: 8vw;
  line-height: 10vw;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4wldlb');
  src:  url('fonts/icomoon.eot?4wldlb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4wldlb') format('truetype'),
    url('fonts/icomoon.woff?4wldlb') format('woff'),
    url('fonts/icomoon.svg?4wldlb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-cross:before {
  content: "\ea0f";
}


