li {
  width: 33%;
}

#scream {
  width: 30%;
}

#results-li {
  width: 25%;
}

.li-about {
  width: 25%;
}

/* BACKGROUND IMAGE ON ABOUT US PAGE */

.backgroundimage {
  background-image: url(../../assets/spotlights.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-image-width: 100%;
}
