#menuToggle {
  visibility: hidden;
}

header {
  padding: 5px;
}

#nav-desktop {
  display: unset;
  margin-top: 30px;
  margin-bottom: 0px;
}

#nav-desktop li {
  margin-top: 10px;
  padding: 15px;
}

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

li {
  width: 47%;
}

#results-li {
  padding: 2%;
  width: 45%;
}

#scream {
  width: 30%;
  padding: 2%;
}

