#menuToggle {
  visibility: hidden;
}

header {
  padding: 5px;
}

#nav-desktop {
  display: unset;
  margin-top: 30px;
  margin-bottom: 0px;
}

#nav-desktop li {
  margin-top: 10px;
  padding: 15px;
}

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

li {
  width: 47%;
}

#img-detail {
  width: 70%;
}

.work-section {
  padding: 2%;
  width: 45%;
}