<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layouts/head') %>
  <title>Search</title>
</head>
<body>
  <%- include('../layouts/header') %>
  <main>
    <h4>Search by Artist, Title, Color, or Keyword</h4>
    <form id="form-search" action="/searches/results" method="POST">
      Search: <input type="text" default="Enter you search" name="search"><br>
      Search by Keyword: <input type="radio" name="search" value="keyword" checked> <br>
      Search by Artist: <input type="radio" name="search" value="artist"> <br>
      Search by Title: <input type="radio" name="search" value="title"> <br>
      Search by Main Color: <input type="radio" name="search" value="color"> <br>
      <button type="submit">Search for a Work</button>
    </form>
  </main>
  <%- include('../layouts/footer') %>
</body>
<%- include ../layouts/scripts %>
</html>