<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layouts/head') %>
  <title>Search</title>
</head>
<body>
  <%- include('../layouts/header') %>
  <main>
    <h4>Search by Artist, Title, or Color</h4>
    <form id="search-form" action="/searches/results" method="POST">
      keyword: <input type="text" default="Enter you search" name="search"><br>
      search by artist (e.g. monet): <input type="radio" name="search" value="artist"> <br>
      search by title of work (e.g. flowers): <input type="radio" name="search" value="title"> <br>
      search by main color (e.g. blue): <input type="radio" name="search" value="color"> <br>
      <button id="search-button" type="submit">Search</button>
    </form>
  </main>
  <%- include('../layouts/footer') %>
</body>
</html>