<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>No Results</title>
</head>

<body>
  <h2>There are 0 results for that search... Please try a different keyword</h2>
  <section>
    <form action="/searches" method="GET">
      <button type="submit">Search Again</button>
    </form>
  </section>
</body>

</html>